<launch>

  <node pkg="extrinsic_calibrator" type="extrinsic_calibrator_exe" name="camera_lidar_calibration_node" output="screen">
  </node>

  <node pkg="extrinsic_calibrator" type="keyboard_publisher_exe" name="keyboard_publisher_node" output="screen">
  </node>
  
  <node type="rviz" name="rviz" pkg="rviz" args="-d $(find extrinsic_calibrator)/rviz/config.rviz" />



</launch>
